.dashboardContainer {
  padding: 20px;
  background-color: #eee0e0;
  height: 100vh;
}
.deleteWraapper {
  cursor: pointer;

  svg {
    height: 20px;
    width: 20px;
    path {
      &:hover {
        fill: red;
      }
    }
  }
}
.editWraapper {
  cursor: pointer;

  svg {
    height: 20px;
    width: 20px;
    path {
      &:hover {
        fill: blue;
      }
    }
  }
}
.tableContainer{
  margin-top: 20px;
}